@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');

:root {
  --primary-color: #cdf3d0;
  --secondary-color: #73e678;
  --hero-color: #05a10d;
}

body,
button {
  font-family: 'Calistoga', cursive;
}

.text-hero {
  color: var(--hero-color);
}

.ttc {
  text-transform: capitalize;
}

.ttu {
  text-transform: uppercase;
}

.btn-small {
  background: var(--hero-color);
}

.btn-small:hover {
  background: var(--secondary-color);
}

.btn-small:focus {
  background: var(--secondary-color);
}

nav {
  background: var(--primary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.menu-icon {
  cursor: pointer;
}

nav a {
  color: var(--hero-color);
}

nav sidenav-trigger {
  margin: 0;
}

.entries {
  margin-top: 1.5rem;
}

.entry {
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: 'image details delete';
  grid-gap: 1rem;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(100, 100, 100, 0.2);
  border-radius: 6px;
}

.entry img {
  grid-area: 'image';
  width: 75%;
  max-width: 120px;
  justify-self: center;
  align-self: center;
}

.entry-details {
  grid-area: 'details';
  margin-top: 0.5rem;
}

.entry-delete {
  grid-area: 'delete';
  align-self: flex-end;
  justify-self: flex-end;
  cursor: pointer;
}

.add-btn {
  margin-bottom: 2rem;
}

.form-text {
  font-size: 0.9rem;
  font-family: initial;
  font-weight: bold;
}

.input-field input:focus + label {
  color: var(--hero-color) !important;
}

.input-field input:focus {
  border-bottom: 1px solid var(--hero-color) !important;
  box-shadow: 0 1px 0 0 var(--hero-color) !important; 
}

.datepicker-date-display {
  background-color: var(--hero-color);
}

.datepicker-day-button:hover {
  background: var(--hero-color);
}

.datepicker-table td.is-today {
  color: var(--secondary-color);
}

.datepicker-table td.is-selected {
  background: var(--hero-color);
}

.datepicker-day-button:focus {
  background: var(--hero-color);
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: var(--hero-color);
}

.timepicker-digital-display {
  background: var(--hero-color);
}

.timepicker-close,
.timepicker-clear {
  color: var(--hero-color);
}

.timepicker-tick:hover {
  background: var(--hero-color) !important;
}
.timepicker-canvas line {
  stroke: var(--hero-color) !important;
}
.timepicker-canvas-bearing {
  fill: var(--hero-color) !important;
}
.timepicker-canvas-bg {
  fill: var(--hero-color) !important;
}

#notes::-webkit-input-placeholder {
  font-style: italic;
}
#notes:-moz-placeholder {
  font-style: italic;
}
#notes::-moz-placeholder {
  font-style: italic;
}
